# @package _global_

defaults:
  - _self_
  - /training: tinyusfm_training

model:
  name: TinyUSFM
  num_classes: 2
  pretrained: true                # Use pretrained weights
  checkpoint: checkpoints/TinyUSFM.pth
  img_size: 224